body {
  background-color: tomato;
}
.budget {
  display: flex;
  justify-content: center;
}

.expenses {
  display: flex;
  background-color: white;
  width: 30%;
  justify-content: space-between;
  padding: 20px;
  border-radius: 20px;
}