:root {
  --color-french-rose: #e3508d;
  --color-french-rose-50: #f8d4e3;
  --color-french-rose-100: #f4b9d2;
  --color-french-rose-200: #f09fc1;
  --color-french-rose-300: #eb85af;
  --color-french-rose-400: #e76a9e;
  --color-french-rose-500: #e3508d;
  --color-french-rose-600: #df367c;
  --color-french-rose-700: #d4226c;
  --color-french-rose-800: #b91e5e;
  --color-french-rose-900: #9f1951;
  --color-amethyst: #8f50e3;
  --color-amethyst-50: #e3d4f8;
  --color-amethyst-100: #d3b9f4;
  --color-amethyst-200: #c29ff0;
  --color-amethyst-300: #b185eb;
  --color-amethyst-400: #a06ae7;
  --color-amethyst-500: #8f50e3;
  --color-amethyst-600: #7e36df;
  --color-amethyst-700: #6e22d4;
  --color-amethyst-800: #601eb9;
  --color-amethyst-900: #53199f;
  --color-wattle: #c9e350;
  --color-wattle-50: #f2f8d4;
  --color-wattle-100: #eaf4b9;
  --color-wattle-200: #e1f09f;
  --color-wattle-300: #d9eb85;
  --color-wattle-400: #d1e76a;
  --color-wattle-500: #c9e350;
  --color-wattle-600: #c1df36;
  --color-wattle-700: #b4d422;
  --color-wattle-800: #9eb91e;
  --color-wattle-900: #879f19;
  --color-button: #29c0aa;
  --color-button-500: #29c0aa;
  --color-button-text: #fff;
  --font-size-sm: 1rem;
  --font-size-md: 1.2rem;
  --font-size-lg: 1.4rem;
  --box-shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  --box-shadow-md: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
    0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --box-shadow-lg: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --box-shadow-dark-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
